
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" contet="width=device-width" />
    <title>Index</title>
</head>
    <h1>Pagina inicial da aplicacao</h1>
</html>

